<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharpener</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contactus">Contact Us!</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Sharpener</h1>
            <form id="call-form" class="call-form" action="/contactus" method="POST">
            <div class="form-container">
                    <input type="text" id="name" placeholder="Name" required>
                    <input type="email" id="email" placeholder="Email" required>
                    <input type="tel" id="phone" placeholder="Phone" required>
                    <input type="datetime-local" id="time-for-call" required>
                    <button type="submit">GET A CALL</button>
            </div>
            </form>
        </div>
    </main>
    
</body>
</html>